/* BASE? */

:root {
  --accent-color: rgba(212, 20, 67, 1);
  --second-color: rgba(255, 165, 186, 1);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 25px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 35px;
  }
}
.header {
  position: relative;
  z-index: 2;
  width: 1280px;
  margin: 0 auto;
}
.header .container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-decoration-skip-ink: none;

  margin-right: 85px;
  border: 0;
  border-radius: 20px;
  padding: 15px 50px;
  color: var(--accent-color);
  background-color: white;
}
.header__button:hover,
.header__button:focus {
  background-color: var(--accent-color);
  color: white;
}
.header__link {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;

  display: inline-block;
  padding: 15px 0;
  color: white;
}
.header__link--active{
  color: var(--accent-color);
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.hero .container {
  position: relative;
  background-color: rgba(255, 184, 202, 1);

  height: 665px;
  background-image: url(.././images/icecream.png), url(.././images/milk.png),
    url(.././images/tasty.png), url(.././images/Ellipse\ 3.png);
  background-repeat: no-repeat;
  background-size: 236px 557px, 188px 191px, 293px 232px, 560px;
  background-position: bottom 0 right 450px, bottom 45px left 77px,
    bottom 0 right 109px, bottom 60px right 267px;
}
.hero__text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;

  width: 200px;
  position: absolute;
  bottom: 100px;
  left: 265px;
  color: white;
}
.hero__title {
  font-family: Titan One;
  font-size: 38px;
  font-weight: 400;
  line-height: 43.51px;
 width: 280px;
 margin-bottom: 25px;
  
}
.hero__title--span {
  font-size: 58px;
  line-height: 52.49px;
  color: var(--accent-color);
}
.hero__button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.23px;

  border: 0;
  border-radius: 20px;
  padding: 15px 30px;
  color: var(--accent-color);
  background-color: white;
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-color);
  color: white;
}
.hero__button:nth-of-type(1) {
  margin-right: 15px;
}
.hero__thumb {
  position: absolute;
  left: 85px;
  top: 170px;
}
.hero__list {
  position: absolute;
  top: 160px;
  right: 115px;
}
.hero__item {
  position: relative;
}
.hero__item:nth-of-type(1) {
  margin-bottom: 20px;
}
.hero__number {
  font-family: Titan One;
  font-size: 46px;
  font-weight: 400;
  line-height: 52.67px;
  color: var(--accent-color);
}
.hero__type {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  color: white;
}
.hero__elipse {
  position: absolute;
  top: 0;
  right: 100%;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

/* ----------------PRODUCTS--------------------------- */
.products {
  padding-top: 127px;
  padding-bottom: 160px;
  text-align: center;
}
.products__title,
.howMade__title {
  display: inline-block;
  font-family: Titan One;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.35px;
  width: 534px;
  color: var(--second-color);
  margin-bottom: 260px;
}
.products__accent,
.howMade__accent {
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66.41px;
  color: var(--accent-color);
}
.article__title {
  font-family: Titan One;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 32px;
}
.article__list {
  display: flex;
  justify-content: center;
}
.article__item {
  position: relative;
  border-radius: 24px;
  height: 450px;
  width: 330px;
}
.article__item:nth-of-type(1) {
  margin-right: 16px;
  background-color: var(--second-color);
}
.article__item:nth-of-type(2) {
  margin-right: 20px;
  background-color: rgba(240, 209, 165, 1);
}
.article__item:nth-of-type(3) {
  background-color: rgba(194, 226, 151, 1);
}
.article__link {
  position: absolute;
  bottom: 80px;
  right: 0;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article__text {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.16px;
  width: 240px;
  margin-top: 32px;
}
.article__image {
  margin-bottom: 40px;
}

/* -----------------------------------------------HOW IT'S MADE------------------------------------- */

.howMade {
  text-align: center;
  background-color: rgba(255, 245, 246, 1);
  padding-top: 175px;
  padding-bottom: 70px;
}
.howMade__title {
  margin-bottom: 55px;
}
.howMade__box {
  display: inline-block;
  width: 470px;
  text-align: start;
}
.box__title {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.16px;
  margin-bottom: 35px;
}
.box__text,
.box__signature {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 27.16px;
  color: rgba(144, 126, 130, 1);
  margin-bottom: 45px;
}
.box__text {
  margin-bottom: 20px;
}
.box__button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;

  padding: 20px 40px;
  background-color: white;
  color: var(--accent-color);
  border: 0;
  border-radius: 22px;
}
.box__button:hover,
.header__button:focus {
  color: white;
  background-color: var(--accent-color);
}
.howMade__milk {
  display: inline-block;
  width: 510px;
  height: 510px;
  margin-right: 73px;
}
.howMade__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(.././images/madeBack.png);
}

/* ---------------------STATISTICS------------------ */
.statistics {
  display: flex;
  justify-content: center;
}
.statistics__title {
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66.41px;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.statistics__text {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.16px;
}
.statistics__image {
  margin-bottom: 45px;
}
.statistics__item {
  width: 255px;
  text-align: start;
}
.statistics__item:not(:last-child) {
  margin-right: 100px;
}

/* --------------------------COMMENTS------------------------ */
.comments{
  padding-top: 70px;
  padding-bottom: 70px;
}
.comments .container {
  display: flex;
  justify-content: center;
}

.comments__text {
  display: inline-block;
  width: 700px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  margin-bottom: 50px;
  background-color: rgba(250, 250, 250, 1);
  background-image: url(.././images/quotes.svg);
  background-repeat: no-repeat;
  padding: 20px 0;
}
.comments__img {
  display: inline-block;
  margin-bottom: 60px;
}
.comments__separator {
  display: inline-block;
  margin-bottom: 54px;
}
.comments__thumb {
  text-align: center;
  width: 700px;
}
.comments__city {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 37.2px;

  margin-bottom: 35px;
}
.comments__part{
  border-bottom: 2px solid rgba(225, 225, 225, 1);
}
.social{
  display: inline-flex;
}
.social__item:not(:last-child){
  margin-right: 18px;
}
.social__elipse{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
}



/* ----------------------------------LOCATIONS-------------------------------- */

.locations{
  background-color: rgba(255, 245, 246, 1);
  padding-top: 60px;
padding-bottom: 85px;
text-align: center;
}
.locations__list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}
.locations__item{
  width: 330px;
  height: 572px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
  padding: 50px 45px;
}
.locations__title{
  display: inline-block;
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 29.76px;
letter-spacing: 0.04em;
border-radius: 6px;
padding: 5px 20px;
color: white;
background-color: rgba(240, 209, 165, 1);
margin-bottom: 32px;
}
.locations__title--green{
  background-color: rgba(194, 226, 151, 1);
}

.locations__city, .locations__day{
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 29.76px;

}
.locations__city{
  margin-bottom: 10px;
}
.locations__text::after{
  margin-top: 30px;
  content: "";
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.locations__text{
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 29.28px;
color: rgba(144, 126, 130, 1);
margin-bottom: 30px;
}
.locations__time{
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 29.76px;
color: rgba(255, 165, 186, 1);
}
.locations__time--first{
  margin-bottom: 20px;
}
.locations__time--second::after{
  margin-top: 30px;
  content: "";
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.locations__time--second{
  margin-bottom: 30px;
}
.locations__tel, .locations__mail{
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 29.28px;
color: rgba(144, 126, 130, 1);
}
.locations__button{
  display: inline-block;
  border: 0px;
  font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 20.83px;
padding: 10px 30px;
border-radius: 22px;
}
.locations__button:nth-child(2){
  color: white;
  background-color: var(--second-color);
  margin-right: 15px;
}
.locations__button:nth-child(2):hover, .locations__button:nth-child(2):focus{
  color: white;
  background-color: var(--accent-color);
}
.locations__button:nth-child(3){
  color: white;
  background-color: var(--second-color);
}
.locations__button:nth-child(3):hover, .locations__button:nth-child(3):focus{
  color: white;
  background-color: var(--accent-color);
}



/* ----------------------------FOOTER--------------------------- */


.footer{
  padding-top: 85px;
  background-color: rgba(255, 245, 246, 1);
}
.footer .container{
  display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 100px;
}
.footer__title {
  display: inline-block;
  font-family: Titan One;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.35px;
  width: 475px;
  color: var(--second-color);

}

.footer__accent {
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66.41px;
  color: var(--accent-color);
}
.footer__list{
  display: flex;
}
.footer__image{
  width: 34px;
  height: 34px;
}

.footer__item:not(:last-child){
  margin-right: 24px;
}

.footer__contact{
  font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 29.76px;
}
.footer__contact--tel{
  color: var(--accent-color);
}
.footer__unicode{
  text-align: center;
  padding-bottom: 10px;
}
.footer__unicode::before{
  content: "";
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  margin-bottom: 10px;
}